<div class="container">
    <section class="section">
        <ul class="gallery"></ul>
        <ul class="pagination list">
            <li class="pagination__item"><a class="pagination__link link" data-action="decrement">
                </a>
            </li>
            <li class="pagination__item"><a class="pagination__link link" data-action="prev-five">...</a>
            </li>
            <li class="pagination__item"><a class="pagination__link page-active link" data-value="1">1</a></li>
            <li class="pagination__item"><a class="pagination__link page link" data-value="2">2</a></li>
            <li class="pagination__item"><a class="pagination__link page link" data-value="3">3</a></li>
            <li class="pagination__item"><a class="pagination__link page link" data-value="4">4</a></li>
            <li class="pagination__item"><a class="pagination__link page link" data-value="5">5</a></li>
            <li class="pagination__item"><a class="pagination__link page link" data-action="next-five">...</a>
            </li>
            <li class="pagination__item"><a class="pagination__link link" data-action="increment">
                </a>
            </li>
        </ul>

        <div class="loading visually-hidden">Loading&#8230;</div>
    </section>

</div>