<section class="hero-header">
    <header class="header">
        <a href="./index.html" class="logo__link">
            <!-- <svg>
                <use></use>
            </svg> -->
            <img class="logo__link" src="./images/film.svg" alt="">
        </a>
        <nav class="nav">
            <ul>
                <li><a class="nav__link link" href="#" data-move="home">HOME</a></li>
                <li><a class="nav__link link login" href="#" data-move="library">MY LIBRARY</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero__inner">
        <form action="input" type="input" class="search-form" id="search-form">
            <input type="text" name="searchQuery" autocomplete="off" placeholder="Movie search" />
            <button type="submit"></button>
        </form>
    </div>

</section>